.breadcrumb {
    display: flex;
    align-items: center;
    padding: 18px 0 19px;
    @extend %listreset;
    font-size: 12px;
    background-color: $white;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: -9999px;
        right: -9999px;
        background-color: $white;
        top: 0;
        bottom: 0;
    }
    li {
        position: relative;
        padding-left: 10px;
        color: $dark-grey;
        margin-right: 4px;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: currentColor;
        }
        &:first-child {
            padding-left: 0;
            &:before {
                display: none;
            }
        }
        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                color: $orange;
            }
        }
    }
}