.btn {
    @include animate(background-color color);
    font-family: 'campersans_regular';
    font-size: 36px;
    height: 40px;
    width: 200px;
    background-color: $dark-grey;
    border: none;
    border-radius: 15px;
    color: $white;
    text-decoration: none;
    display: inline-block;
    &:hover {
       color: $dark-grey;
       background-color: $white;
    }

    &--accent {
        background-color: $orange;
    }
    .btn-long{
        //min-width: 350px;
    }
}