.prefooter-bg {
	padding: 20px 0 70px;
	.container {
		display: flex;
	}
	.image-holder {
		margin: 0 45px 0 85px;
		@include media('<desktop') {
			margin: 0 25px 0 15px;
		}
		@include media('<tablet') {
			display: none;
		}
	}
	.text-holder {
		max-width: 670px;
		text-align: center;
		@include media('<tablet') {
			margin: 0 auto;
		}
		.title {
			font-size: 102px;
			line-height: .6;
			margin-bottom: 20px;
			@include media('<desktop') {
				font-size: 72px;
			}
			@include media('<desktop') {
				font-size: 82px;
			}
		}
	}
	.text-field {
		.text-row {
			&:first-child {
				margin-bottom: 15px;
				.label {
					&:nth-child(2) {
						display: inline-block;
						transform: translateY(30px);
						@include media('<desktop') {
							transform: translate(33%,60%);
						}
					}
				}
			}
			&:last-child {
				text-align: left;
				padding-left: 10%;
			}
			.label {
				font-family: $alt-font-1;
				color: $orange;
				font-size: 64px;
				line-height: 1;
				@include media('<desktop') {
					font-size: 46px;
				}
				&.bg {
					background-color: $orange;
					color: $white;
					margin-right: 16%;
					padding: 0 18px;
				}
				&.cursive {
					font-family: $alt-font-2;
					font-size: 56px;
					margin-right: 3.5%;
					@include media('<desktop') {
						font-size: 32px;
					}
				}
				&.cursive.bg {
					display: inline-block;
					line-height: 1.1;
					font-size: 44px;
					margin-right: 0;
					margin-left: 15px;
					padding: 0 8px;
					transform: translateY(-10px);
					@include media('<desktop') {
						font-size: 32px;
					}
				}
			}
		}
	}
}