.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid $orange;
    opacity: 1;
    width: 24px;
    height: 24px;

    &-active {
        background-color: $orange;
    }
}