.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid $orange;
    opacity: 1;
    width: 12px;
    height: 12px;

    &-active {
        background-color: $orange;
    }
}