.type-category {
    text-align: center;
    width: 780px;
    display: inline-block;
    margin: 0 auto 18px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .55);
    border-radius: 0 0 15px 15px;
    font-size: 29px;
    display: flex;
    max-width: 100%;
    position: relative;
    z-index: 5;
    @include media('<desktop') {
      width:720px;
    }
    &:before {
        @include media('<tablet') {
            content: '';
            position: absolute;
            top: 40%;
            right: 10%;
            @include triangle(30px, $white, down);
        }
    }
    @include media('<tablet') {
        margin: 0 -15px;
        min-width: calc(100% + 30px);
        border-radius: 0;
    }
    @include media('<640px') {
        margin: 0 -15px;
        min-width: calc(100% + 30px);
    }
    &.visible-menu {
        @include media('<tablet') {
            overflow: visible;
        }
        a {
            @include media('<tablet') {
                pointer-events: auto;
            }
        }
    }
    @include media('<desktop') {
        font-size: 22px;
    }
    @include media('<tablet') {
        flex-wrap: wrap;
        height: 75px;
        overflow: hidden;
    }
    a {
        min-width: 260px;
        padding: 4px 5px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        text-decoration: none;
        background-color: $dark-grey;
        @include media('<desktop') {
            padding: 5px 3px;
            min-width: 240px;
        }
        @include media('<tablet') {
            width: 100%;
            border-radius: 0 !important;
            pointer-events: none;
            padding:8px;
            font-size: 22px;
        }
        @include animate(color background-color);
        .img-holder {
            position: relative;
            margin-right: 10px;
            @include media('<desktop') {
                margin-right: 5px;
            }
        }
        .hover {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: auto;
            @include animate(opacity);
        }
        &:hover {
            color: $dark-grey;
            background-color: $white;
            .hover {
                opacity: 1;
            }
        }
        &.active {
            background-color: $blue-primary;
            @include media('<tablet') {
                order: -1;
            }
            &:hover {
                color: $dark-grey;
                background-color: $white;
            }
        }
        .link-text {
            font-family: $alt-font-2;
            .ttu {
                font-family: $alt-font-1;
                font-size: 40px;
            }
        }
        &:nth-child(1) {
            border-radius: 0 0 0 15px;
        }
        &:nth-child(3) {
            border-radius: 0 0 15px 0;
        }
        &:nth-child(2) {
            border-left: 1px solid $white;
            border-right: 1px solid $white;
            box-shadow: inset -10px 0 5px -5px hsla(0, 0%, 0%, .25), inset 10px 0 5px -5px hsla(0, 0%, 0%, .25);
            @include media('<tablet') {
                box-shadow: none;
                border: none;
            }
        }
        img {
            width: 65px;
            display: inline-block;
        }
    }
}