@font-face {
    font-family: 'campersans_regular';
    src: url('../fonts/fenotype_-_campersans1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'camper_serif_regular';
    src: url('../fonts/fenotype_-_camperserif1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grandhotel_regular';
    src: url('../fonts/grandhotel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'museo';
    src: url('../fonts/museo300-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}