.footer {
    display: none;
}

.header {
    &__logo-wrapper {
        position: relative;
        min-width: 210px;
        @include media('<tablet') {
            min-height: 60px;
        }
        .hamburger-wrapper {
            display: none;
            @include media('<tablet') {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            .hamburger {
                color: $white;
            }
        }
    }
    &__top-line {
        background-color: $dark-grey;
        &-wrapper {
            display: flex;
            position: relative;
            justify-content: space-between;
            padding: 0 50px;
            @include media('<tablet') {
                flex-direction: column;
                padding: 0;
            }
        }
        .logo {
            position: absolute;
            z-index: 20;
            @include media('<tablet') {
                width: 90px;
            }
            img {
                vertical-align: top;
            }
        }
        .search-btn {
            background-color: $orange;
            position: relative;
            width: 55px;
            height: 100%;
            border: none;
            &:before {
                content: '';
                position: absolute;
                background-image: url('../images/search-icon.png');
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                top: 0;
                left: 0;
            }
            @include media('<tablet') {
                height: 35px;
                width: 35px;
                background-color: transparent;
                position: absolute;
                right: 15px;
                top: 0;
            }
        }
    }
    &__dropdown-wrapper {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media('<tablet') {
            @include animate(opacity);
            display: block;
            position: absolute;
            background-color: $dark-grey;
            width: auto;
            right: 0;
            left: 0;
            margin: -1px -15px 0;
            z-index: 15;
            top: 100%;
            opacity: 0;
            padding: 0 15px;
            visibility: hidden;
            &.is-active {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__bottom-line {
        min-height: 60px;
        padding: 5px 0 5px 0;
        box-shadow: 0 7px 15px 2px rgba(black, 0.3);
        position: relative;
        z-index: 3;
        @include media('<tablet') {
            @include animate(opacity);
            position: absolute;
            opacity: 0;
            width: 100%;
            background-color: $white;
            z-index: 10;
            transform: translateY(75px);
            visibility: hidden;
            &.is-active {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .main-nav {
        padding: 0 53px 0 250px;
        @include media('<tablet') {
            padding: 0;
        }
        ul {
            @extend %listreset;
            display: flex;
            justify-content: flex-end;
            @include media('<tablet') {
                flex-direction: column;
            }
        }
        li {
            padding-right: 40px;
            position: relative;
            @include media('<desktop') {
                padding-right: 15px;
            }
            ;
            &:last-child {
                padding-right: 0;
            }
            a {
                @include animate(color);
                position: relative;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'campersans_regular';
                font-size: 40px;
                color: $dark-grey;
                @include media('<desktop') {
                    font-size: 35px;
                }
                @include media('<phone') {
                    font-size: 40px;
                }
                &::before {
                    @include animate(opacity);
                    content: '';
                    position: absolute;
                    opacity: 0;
                    bottom: 10px;
                    width: 100%;
                    height: 2px;
                    background-color: $orange;
                }
                &:hover {
                    color: $orange;
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.inner-nav {
    @include animate(opacity);
    position: absolute;
    z-index: 200;
    flex-direction: column;
    width: 260px;
    transform: translate(-25%, 7px);
    top: 100%;
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    opacity: 0;
    @include media('<tablet') {
        width: auto;
        left: 0;
        right: 0;
        transform: translate(0, 0);
        margin: 0 -15px !important;
    }
    &.is-active {
        opacity: 1;
    }
    li.inner-nav__item {
        text-align: center;
        padding-right: 0;
        a {
            color: $white;
            display: inline-block;
            font-family: $alt-font-2;
            text-transform: none;
            font-size: 29px;
            margin-left: 50px;
            padding: 10px 0;
            &:before {
                content: '';
                position: absolute;
                width: 60px;
                height: 50px;
                left: 0;
                transform: translate(-100%);
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
                display: block;
                opacity: 1;
            }
            .stroke-wrapper {
                font-family: $alt-font-1;
                text-transform: uppercase;
                font-size: 41px;
            }
        }
        &:nth-child(1) {
            background-color: #005f85;
            a::before {
                background-image: url('../images/cuire.svg');
            }
        }
        &:nth-child(2) {
            background-color: #fcc300;
            a::before {
                background-image: url('../images/rechauffer.svg');
            }
        }
        &:nth-child(3) {
            background-color: #882973;
            a::before {
                background-image: url('../images/servir.svg');
            }
        }
        &:last-child {
            border-radius: 0 0 10px 10px;
        }
    }
}