
.footer {
    display: none;
}

.header {
    &__logo-wrapper {
        position: relative;
        min-width: 180px;

        @include media('<tablet') {
            min-height: 60px;
        }

        .hamburger-wrapper {
            display: none;

            @include media('<tablet') {
                width: 100%;
                display: flex;
                justify-content: flex-end;

            }

            .hamburger {
                color: $white;
            }
        }
    }

    &__top-line {
        background-color: $dark-grey;

        &-wrapper {
            display: flex;
            position: relative;
            justify-content: space-between;

            @include media('<tablet') {
                flex-direction: column;
            }
        }

        .logo {
            position: absolute;
            z-index: 20;

            @include media('<tablet') {
                width: 90px;
            }

            img {
                vertical-align: top;
            }
        }

        .search-btn {
            background-color: $orange;
            position: relative;
            width: 55px;
            height: 100%;
            border: none;

            &:before {
                content: '';
                position: absolute;
                background-image: url('../images/search-icon.png');
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                top: 0;
                left: 0;
            }

            @include media('<tablet') {
                height: 35px;
                width: 35px;
                background-color: transparent;
                position: absolute;
                right: 15px;
                top: 0;
            }
        }
    }

    &__dropdown-wrapper {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include media('<tablet') {
            @include animate(opacity);
            display: block;
            position: absolute;
            background-color: $dark-grey;
            width: auto;
            right: 0;
            left: 0;
            margin: -1px -15px 0;
            z-index: 15;
            top: 100%;
            opacity: 0;
            padding: 0 15px;
            &.is-active {
                opacity: 1;
            }
        }


    }

    &__bottom-line {
        min-height: 60px;
        padding: 5px 0 5px 0;
        box-shadow: 0 7px 15px 2px rgba(black, 0.3);
        position: relative;
        z-index: 1;

        @include media('<tablet') {
            @include animate(opacity);
            position: absolute;
            opacity: 0;
            width: 100%;
            background-color: $white;
            z-index: 10;
            transform: translateY(75px);
            &.is-active {
                opacity: 1;
            }
        }

    }

    .main-nav {
        padding-left: 230px;

        @include media('<tablet') {
            padding-left: 0;
        }

        ul {
            @extend %listreset;
            display: flex;
            justify-content: flex-end;

            @include media('<tablet') {
                flex-direction: column;
            }
        }

        li {
            padding-right: 20px;

            &:last-child {
                padding-right: 0;
            }

            a {
                @include animate(color);
                position: relative;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'campersans_regular';
                font-size: 40px;
                color: $dark-grey;

                &::before {
                    @include animate(opacity);
                    content: '';
                    position: absolute;
                    opacity: 0;
                    bottom: 10px;
                    width: 100%;
                    height: 2px;
                    background-color: $orange;
                }

                &:hover {
                    color: $orange;

                    &::before {
                        opacity: 1;
                    }
                }

            }
        }
    }
}